<h2>Please enter the length of your media product</h2>

<form (ngSubmit)="submit()" #entryForm="ngForm">
  <div class="entry-inputs">
    <mat-form-field>
      <mat-label>Minutes</mat-label>
      <input
        matInput
        type="number"
        name="minutes"
        required
        [(ngModel)]="minutes"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seconds</mat-label>
      <input
        matInput
        type="number"
        name="seconds"
        required
        min="0"
        max="59"
        [(ngModel)]="seconds"
      />
    </mat-form-field>
  </div>
  <button matButton="tonal" type="submit">Submit</button>
</form>

@if (submitted) {
<h3>Length media product: {{ minutes }}:{{ seconds }} Minutes</h3>
<table mat-table>
  <tr>
    <th>Time</th>
    <th>Input</th>
  </tr>
  @for (row of tableRows; track row; let i = $index) {
  <tr>
    <td>{{ row.displayMinute }}</td>
    <td>
      <input matInput [(ngModel)]="tableRows[i].value" name="rowInput{{ i }}" />
    </td>
  </tr>
  }
</table>
}
