<h1>Calculate Your Retention Time</h1>
<h2>Please enter the duration of your content</h2>

<form (ngSubmit)="submitLength()" #lengthForm="ngForm">
  <div class="entry-inputs">
    <mat-form-field>
      <mat-label>Minutes</mat-label>
      <input matInput type="number" name="minutes" [(ngModel)]="minutes" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Seconds</mat-label>
      <input
        matInput
        type="number"
        name="seconds"
        required
        min="0"
        max="59"
        [(ngModel)]="seconds"
        #secondsField="ngModel"
      />

      @if (secondsField.invalid && secondsField.touched) {
      <mat-error>Please enter a value between 0 and 59.</mat-error>
      }
    </mat-form-field>
  </div>
  <button matButton="tonal" type="submit" [disabled]="!lengthForm.valid" class="submit-btn">
    Submit
  </button>
  <button matButton="outlined" type="button"
          (click)="resetLength(lengthForm)">
    Reset
  </button>
</form>

@if (submitted) {
<form (ngSubmit)="submitRetentions()" #retentionForm="ngForm">
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Retention</th>
      </tr>
    </thead>
    <tbody>
      @for (row of dataEntryService.timestamps; track row; let i = $index) {
      <tr>
        <td class="left-column">{{ dataEntryService.formatTimestamp(row) }}</td>
        <td>
          <mat-form-field class="percent-input-field">
            <mat-label>%</mat-label>
            <input
              class="script__class"
              matInput
              type="number"
              name="retention{{ i }}"
              [(ngModel)]="retentions[i]"
              #rCtrl="ngModel"
              required
              min="0"
              max="100"
            />
            @if (rCtrl.invalid && (rCtrl.touched || retentionForm.submitted)) {
              <mat-error>Bitte einen Wert zwischen 0 und 100 eingeben.</mat-error>
            }
          </mat-form-field>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <button matButton="tonal" type="submit"
          [disabled]="!retentionForm.valid"
          class="submit-btn">
    Submit
  </button>
  <button matButton="outlined" type="button"
          (click)="resetRetentions(retentionForm)">
    Reset
  </button>
</form>
}
