h2 {
  margin-top: 0;
}

form {
  margin-bottom: 16px;

  .entry-inputs {
    mat-form-field {
      margin-right: 12px;
    }

    mat-form-field:last-of-type {
      margin-right: 0;
    }
  }
}

table {
  mat-form-field {
    margin: 8px 0;

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}

.mat-mdc-table {
  min-width: 1%;
}

@media (width < 450px) {
  td {
    padding-left: 8px;
    padding-right: 8px;
  }

  .percent-input-field {
    width: 78px; /* Passe die Breite nach deinen Wünschen an */
  }
}
