@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  margin-bottom: 16px;

  .entry-inputs {
    mat-form-field {
      margin-right: 12px;
    }

    mat-form-field:last-of-type {
      margin-right: 0;
    }
  }
}

table {
  animation: fadeInSlideDown 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  margin-bottom: 10px;

  mat-form-field {
    margin: 8px 0;

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}

th {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.left-column {
  width: 217px;
}

.mat-mdc-table {
  min-width: 1%;
  padding-bottom: 40px;
}

.submit-btn {
  margin-right: 8px;
}

@media (width < 580px) {
  form {
    .entry-inputs {
      mat-form-field {
        margin-right: 44px;
      }
    }
  }

  table {
    .percent-input-field {
      width: 90px;
    }

    .left-column {
      width: 114px;
    }

    .right-column {
      min-width: 1px;
      width: 1px;
    }
  }

  .percent-input-field {
    width: 78px;
  }
}

@media (width < 400px) {
  form {
    .entry-inputs {
      mat-form-field {
        margin-right: 0;
      }
    }
  }
}
